<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-item lines='full'>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark mode</ion-label>
      <ion-toggle [(ngModel)]="settingsService.isDark" (ionChange)="settingsService.setDarkMode(settingsService.isDark)"></ion-toggle>
    </ion-item>
</ion-content>