<ion-header no-border>
  <ion-toolbar color='primary' no-border>
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- title -->
    <ion-title>
      {{ moduleActive ? loadedModule.metadata.title : "Module Viewer" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <!-- Tab buttons -->
    <super-tabs-toolbar slot="bottom">
      <super-tab-button>
        <ion-label>Calculator</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Information</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <!-- Tab contents -->
    <super-tabs-container>
      <super-tab>
        <ion-router-outlet (activate)="onActivate($event)"></ion-router-outlet>
      </super-tab>
      <super-tab *ngIf="moduleActive">
        <!-- About card -->
        <ion-card *ngIf="loadedModule.metadata.longDescription">
          <ion-card-header>
            <ion-card-title>
              About
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ loadedModule.metadata.longDescription }}</ion-card-content>
        </ion-card>
        <ion-card *ngIf="loadedModule.metadata.references">
          <ion-card-header>
            <ion-card-title>
              References
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-card *ngFor="let reference of loadedModule.metadata.references" button lines="full" (click)="openLink(reference.link)">
                <ion-card-header>
                <ion-card-title>{{ reference.description }}</ion-card-title>
                <ion-card-subtitle>{{ reference.referenceName }}</ion-card-subtitle>
              </ion-card-header>
                <!-- {{ reference.link }} -->
              </ion-card>
          </ion-card-content>
        </ion-card>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>