// References
ion-card-subtitle {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

// Tabs
ion-segment {
  height: 32px;
}
ion-segment-button{
  min-height: 10px;
}

.hidden {
  display: none;
}