<ion-header no-border>
  <ion-toolbar color='primary' no-border>
    <!-- back button -->
    <ion-buttons slot="start">
          <ion-back-button defaultHref = "/home"></ion-back-button>
    </ion-buttons>
    <!-- title -->
    <ion-title>
      {{ moduleActive ? loadedModule.moduleData.title : "Module Viewer" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar slot="bottom">
      <super-tab-button>
        <ion-label>Calculator</ion-label>
      </super-tab-button>
      <super-tab-button>
        <ion-label>Information</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
          <ion-router-outlet (activate)="onActivate($event)"></ion-router-outlet>
      </super-tab>
      <super-tab>
          <div> {{ loadedModule.moduleData.description }} </div>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>