<ion-header>
  <ion-toolbar>
    <!-- back button -->
    <ion-buttons [class.hidden]='searchActive' slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- title -->
    <ion-title [class.hidden]='searchActive || loadedModule.searchbarText != ""'>
      {{ moduleActive ? loadedModule.metadata.title : "Module Viewer" }}
    </ion-title>
    <ion-buttons [class.hidden]='searchActive' slot="end">
      <!-- search button -->
        <ion-button *ngIf='loadedModule.searchbarPlaceholder != ""'
                    [class.hidden]='loadedModule.searchbarText !== ""' (click)="openSearchBar()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
          <!-- filter button -->
      <ion-button *ngIf='(loadedModule.sortByList && loadedModule.sortByList.length > 1) || 
                          (loadedModule.filters && loadedModule.filters.length > 0)' (click)="presentFilter($event)">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Search bar -->
    <ion-searchbar [(ngModel)]="loadedModule.searchbarText" [class.hidden]='!searchActive && loadedModule.searchbarText === ""'
                    (ionBlur)='searchActive = false' (ionFocus)='searchActive = true'
                    (ionChange)='loadedModule.updateFilter()'
                    [placeholder]='loadedModule.searchbarPlaceholder' animated=true></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Primary container is the module, hidden if not selected -->
  <div [class.hidden]="activeView !== 'primary'">
    <ion-router-outlet (activate)="onActivate($event)"></ion-router-outlet>
  </div>

  <!-- Information container, hidden if not selected -->
  <div *ngIf="moduleActive && activeView === 'information'">
    <ion-card *ngIf="loadedModule.metadata.longDescription">
      <ion-card-header>
        <ion-card-title>
          About
        </ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="loadedModule.metadata.longDescription">
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="loadedModule.metadata.references">
      <ion-card-header>
        <ion-card-title>
          References
        </ion-card-title>
      </ion-card-header>
      <ion-item *ngFor="let reference of loadedModule.metadata.references" button lines="full"
        (click)="openLink(reference.link)">
        <ion-label>
          <h2>{{ reference.description }}</h2>
          <p>{{ reference.referenceName }}</p>
        </ion-label>
        <!-- {{ reference.link }} -->
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <!-- Results display -->
    <div *ngIf="loadedModule.displayedResult !== ''" (click)="showResultDescription = !showResultDescription">
  <ion-item button color="primary">
    <ion-title [innerHTML]="loadedModule.displayedResult">
    </ion-title>
  </ion-item>
  <ion-item *ngIf="showResultDescription" color="primary">
    <div [innerHTML]="loadedModule.displayedResultDescription"></div>
  </ion-item>
  </div>
  <!-- Tabs -->
  <ion-segment [(ngModel)]='this.activeView' color='primary' mode='ios'>
      <ion-segment-button value="primary" mode='md'> 
        <ion-label>Calculator</ion-label>
      </ion-segment-button>
      <ion-segment-button value="information" mode='md'>
        <ion-label>Information</ion-label>
      </ion-segment-button>
    </ion-segment>
</ion-footer>