ion-card-subtitle {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

super-tab-button {
  border-top: 1px solid #3949AB; 
  height: 36px !important;
  background-color: #3F51B5; //var(--ion-color-primary-shade);
}