// Padding for description text
.result-description {
    padding: 5% !important;
}

// Icon style and animation
ion-icon {
    padding-right: 15px;
    color: var(--ion-color-step-300);
    transform: rotateX(0deg);
    transition: transform 0.5s;
}

.rotate180 {
    transform: rotateX(180deg);
}

// Styling of footer
ion-item {
    width: 100vw;
}

ion-item-group {
    background-color: var(--fruit-blue-grey);
    height: 0;
}