svg {
    display: block;
    margin:auto;
}

.hexagon {
    stroke: var(--fruit-blue-grey);
    stroke-width: 1.5;
}

.low {
    fill: #afdea6;
}

.moderate {
    fill: #e9bb77;
}

.high {
    fill: #cd8371;
}

.marker {
    fill-opacity: 0;
}

.line {
    stroke: var(--fruit-blue-grey);
    stroke-width: 1.5;
}

.status.stroke{
    stroke-width: 3;
    fill-opacity: 0;
}

rect {
    stroke-width: 6;
}

.text-holder {
    fill: var(--ion-item-background);
    stroke-width: 2;
}

.text {
    font-size: 11px;
    font-family: var(--ion-font-family);
    fill: var(--ion-item-background);
}

.label {
    font-size: 11px;
    font-family: var(--ion-font-family);
    fill: var(--ion-color-step-600);
}