// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Fonts
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Medium.ttf');//mine
}

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: bold;
//   src: url('../assets/fonts/Montserrat-Bold.ttf');//mine
// }

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: lighter;
//   src: url('../assets/fonts/Montserrat-Light.ttf');//mine
// }

/** Ionic CSS Variables **/
:root {
  /** default theme **/
  --ion-background-color: #F6F6F6;
  --ion-background-color-rgb: 246,246,246;
  --ion-background-shade: #F0F0F0;
  --ion-item-background: #FFFFFF;
  --ion-toolbar-background: var(--ion-item-background);
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;
  --ion-font-family: "Montserrat", "Roboto", sans-serif;
  --ion-horizontal-padding: 8%;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;
  
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --material-light-blue: #03A9F4;
  --material-light-blue-rgb: 3,169,244;
  --material-blue: #2196F3;
  --material-blue-rgb: 33,150,243;
  --material-light-green: #8BC34A;
  --material-light-green-rgb: 139,195,74;
  --material-green: #4CAF50;
  --material-green-rgb: 76,175,80;
  --material-purple: #9C27B0;
  --material-purple-rgb: 156,39,176;
  --material-pink: #E91E63;
  --material-pink-rgb: 233,30,99;
  --material-yellow: #FFEB3B;
  --material-yellow-rgb: 255,235,59;
  --material-orange: #FF5722;
  --material-orange-rgb: 255,87,34;
  --material-blue-grey: #607D8B;
  --material-blue-grey-rgb: 96,125,139;
  --material-white: #ffffff;
  --material-white-rgb: 255,255,255;
  --material-black: #000000;
  --material-black-rgb: 0,0,0;

  --ion-padding: 50px;
  
  .ion-color-material-light-blue {
    --ion-color-base: var(--material-light-blue);
    --ion-color-base-rgb: var(--material-light-blue-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-blue {
    --ion-color-base: var(--material-blue);
    --ion-color-base-rgb: var(--material-blue-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-light-green {
    --ion-color-base: var(--material-light-green);
    --ion-color-base-rgb: var(--material-light-green-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-green {
    --ion-color-base: var(--material-green);
    --ion-color-base-rgb: var(--material-green-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-purple {
    --ion-color-base: var(--material-purple);
    --ion-color-base-rgb: var(--material-purple-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-pink {
    --ion-color-base: var(--material-pink);
    --ion-color-base-rgb: var(--material-pink-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-yellow {
    --ion-color-base: var(--material-yellow);
    --ion-color-base-rgb: var(--material-yellow-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-orange {
    --ion-color-base: var(--material-orange);
    --ion-color-base-rgb: var(--material-orange-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }
  .ion-color-material-blue-grey {
    --ion-color-base: var(--material-blue-grey);
    --ion-color-base-rgb: var(--material-blue-grey-rgb);
    --ion-color-contrast: var(--material-white);
    --ion-color-contrast-rgb: var(--material-white-rgb);
  }

  --fruit-orange: #B84F35;
  --fruit-light-green: #8ED081;
  --fruit-yellow: #e09f3e;
  --fruit-blue-grey: #384156;
  --fruit-blue: #707ABA;
  --fruit-light-blue: #69CAD6;
  --fruit-purple: #924B9D;
  --fruit-light-pink: #F7C1Bb;
  --fruit-pink: #F59392;
  
  .ion-color-fruit-orange {
  --ion-color-base: var(--fruit-orange);
  --ion-color-base-rgb: 184,79,53;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #a2462f;
  --ion-color-tint: #bf6149;
}
 .ion-color-fruit-light-green { 
  --ion-color-base: var(--fruit-light-green);
  --ion-color-base-rgb: 142,208,129;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #7db772;
  --ion-color-tint: #99d58e;
}
 .ion-color-fruit-yellow { 
  --ion-color-base: var(--fruit-yellow);
  --ion-color-base-rgb: 224,159,62;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #c58c37;
  --ion-color-tint: #e3a951;
}
 .ion-color-fruit-blue-grey { 
  --ion-color-base: var(--fruit-blue-grey);
  --ion-color-base-rgb: 56,65,86;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2f333e;
  --ion-color-tint: #494e59;
}
.ion-color-fruit-blue { 
  --ion-color-base: var(--fruit-blue);
  --ion-color-base-rgb: 112,122,186;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #636ba4;
  --ion-color-tint: #7e87c1;
}
 .ion-color-fruit-light-blue { 
  --ion-color-base: var(--fruit-light-blue);
  --ion-color-base-rgb: 105,202,214;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5cb2bc;
  --ion-color-tint: #78cfda;
}
 .ion-color-fruit-purple { 
  --ion-color-base: var(--fruit-purple);
  --ion-color-base-rgb: 146,75,157;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #80428a;
  --ion-color-tint: #9d5da7;
}
 .ion-color-fruit-light-pink { 
  --ion-color-base: var(--fruit-light-pink);
  --ion-color-base-rgb: 247,193,187;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255,;
  --ion-color-shade: #d9aaa5;
  --ion-color-tint: #f8c7c2;
}
 .ion-color-fruit-pink { 
  --ion-color-base: var(--fruit-pink);;
  --ion-color-base-rgb: 245,147,146;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #d88180;
  --ion-color-tint: #f69e9d;
 }
}