<ion-col *ngFor="let drugType of drugTypesList">
  <ion-card>
    <!-- Drug type header -->
    <ion-card-header><ion-card-title> {{ drugType }} </ion-card-title></ion-card-header>
    
    <!-- LA carpule input -->
    <ion-item *ngIf="drugType === 'Local Anaesthetic'">
        <ion-label position="stacked" color="primary">Carpule (mL)</ion-label>
        <ion-input clearInput type="number" [(ngModel)]="this.inputs.carpule" value="2.2"></ion-input>
    </ion-item>
    <!-- Drug cards -->
    <ng-container *ngFor="let drug of drugList">
      <app-drug-card *ngIf="drugType === drug.type" [inputs]="this.inputs" [drug]="drug"></app-drug-card>
    </ng-container>
  </ion-card>
</ion-col>