// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// Local Anaesthetic
.ion-color-Local-Anaesthetic {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-contrast: var(--ion-color-primary-contrast);
}

// Analgesic
.ion-color-Analgesic {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-contrast: var(--ion-color-primary-contrast);
}

// Miscellaneous
.ion-color-Miscellaneous {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
}
