// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// Local Anaesthetic
.ion-color-Local-Anaesthetic {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-contrast: var(--ion-color-primary-contrast);
}

// Analgesic
.ion-color-Analgesic {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-contrast: var(--ion-color-primary-contrast);
}

// Miscellaneous
.ion-color-Miscellaneous {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
}

// Remove element
.hidden {
    display: none;
}
// Highlight element
.highlighted {
    --background: var(--ion-color-tint);
    --color: var(--ion-color-contrast);
}
// Make element invisible
.invisible {
    opacity: 0;
}

// Wider popover
ion-popover .popover-wrapper .popover-content {
    width: 70vw;
    max-width: 500px;
}

// Card styling
ion-card-header, ion-card-content {
    padding-left: var(--ion-horizontal-padding) !important;
    padding-right: var(--ion-horizontal-padding) !important;
}

ion-card-header {
    display:inline-block;               // Allows header (background-)color to only span the length of the content (e.g. title)
    border-radius: 0px 0px 20px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-card-header:not(.ion-color) {
    background-color: inherit;   // if no header color is defined, the card color will define it
}

ion-card-content {
    padding-top: 6% !important;
    padding-bottom: 6% !important;
    color: var(--ion-text-color);
}

ion-card {
    box-shadow: none !important;
    border-radius: 20px !important;
    // margin: 0px !important;
}

// Searchbar styling
.searchbar-input {
    box-shadow: none !important;
    border-radius: 15px !important;
}

// Label styling for input boxes
ion-label:not(ion-label>ion-segment-button) {
    color: var(--ion-color-primary);
}

// Button styling
ion-button {
    --box-shadow: none;
    --border-radius: 15px;
    text-transform: none;
}

// Input styling
ion-input, ion-textarea {
    margin: 10px 0;
    background-color: var(--ion-background-color) !important;
    border-radius: 15px;
}

// Segment styling for questionnairs
.questionnaire ion-segment {
    background-color: var(--ion-background-color);
    border-radius: 15px;
    height: 40px;
    margin-bottom: 16px;
  }
  
.questionnaire ion-segment-button.segment-button-checked {
    background-color: var(--ion-color-base) !important;
    color: var(--ion-color-contrast) !important;
}

.questionnaire ion-segment-button:not(.segment-button-checked) {
    background-color: var(--ion-background-color) !important;
}

.questionnaire ion-segment-button {
    min-height: 0px !important;
    border-radius: 15px;
    border: 5px solid var(--ion-background-color);
    color: var(--ion-color-step-500) !important;
    text-transform: none;
}

// Note styling
ion-note {
    background-color: var(--ion-color-step-150);
    color: var(--ion-color-step-500);
    border-radius: 15px;
    margin: 12px 0px;
    padding: 15px;
    background-clip: border-box !important;
    display: block;
    position: relative;
}
//Speech bubble pointer
ion-note:before {
    content: '';
	position: absolute;
	top: 0;
	left: 8%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: var(--ion-color-step-150);
	border-top: 0;
	border-left: 0;
	margin-left: -6px;
	margin-top: -12px;
}

// Card subtitle styling
ion-card-subtitle {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    margin: 8px 0px;
}

.input-group {
    border-radius: 12px;
    padding: 12px 0px;
    margin: 12px 0px;
    border-top: 2px solid var(--ion-color-step-200);
    border-bottom: 2px solid var(--ion-color-step-200);
}