<ion-content>
  <ion-row>
    <ion-col>
      <ng-container *ngFor="let procedure of procedureList">
        <ion-card *ngIf="!procedure.hide" [attr.procedureType]="procedure.type.replace(' ', '-') | lowercase">
          <ion-item lines='none'>
            <ion-label text-wrap>
              <h2><b>{{ procedure.name }}</b></h2><br />
              <ng-container *ngFor="let procedureStat of procedure.procedureStats">
                <p *ngIf="!procedureStat.hide">
                  {{ procedureStat.type }}: {{ procedureStat.percentage }}% at {{ procedureStat.years }} years.
                </p>
              </ng-container>
              <ng-container *ngIf="procedure.procedureStatNote">
                <br />
                <p>{{ procedure.procedureStatNote }}</p>
              </ng-container>
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>