$procedures: (
  endodontics: var(--fruit-orange),
  prosthodontics: var(--fruit-blue),
  conservative-dentistry: var(--fruit-yellow),
);

@each $procedureType, $value in map-remove($procedures) {
  [procedureType='#{$procedureType}'] {
    border-left: 4px solid $value;
  }
}
