<ion-header>
  <ion-toolbar color="dark">
      <!-- back button -->
    <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- title -->
    <ion-title>
      {{ title }}
    </ion-title>
    <!-- search button -->
  </ion-toolbar>
  <ion-toolbar color="dark">
  <ion-searchbar placeholder='Filter Drugs' (ionInput)='filterList($event)' animated=true showCancelButton='true'></ion-searchbar>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-card-header><ion-card-title>Inputs</ion-card-title></ion-card-header>
            <!-- Weight -->
            <ion-item>
              <ion-label position="stacked" color="primary">Lean Mass (kg)</ion-label>
              <ion-input clearInput type="number" [(ngModel)]='this.inputs.weight' min="1" (ionInput)="clearAgeWeight()"></ion-input>
            </ion-item>
            <!-- Age + Gender -->
            <!-- Age -->
            <ion-item>
              <ion-label position="stacked" color="primary">Age (1-20)</ion-label>
              <ion-input clearInput type="number" [(ngModel)]='this.inputs.age' min="0" max="20" (ionChange)="updateWeight($event)"></ion-input>
            </ion-item>
            <!-- Gender -->
            <ion-item>
            <ion-label position="stacked" color="primary">Gender</ion-label>
            <ion-segment [(ngModel)]='this.inputs.gender' (ionChange)="updateWeight($event)">
                <ion-segment-button value="male">
                    <ion-icon name="male"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="female">
                    <ion-icon name="female"></ion-icon>
                </ion-segment-button>
            </ion-segment>              
          </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <app-drug-display [drugList]="this.drugList" [inputs]="this.inputs"></app-drug-display>

  </ion-grid>
</ion-content>
