<ion-header>
  <ion-toolbar color="dark">
    <ion-title padding>
      Lethal Dose
    </ion-title>
    <ion-searchbar placeholder='Filter Drugs' (ionInput)='filterList($event)' animated=true></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
            <ion-card-header><ion-card-title>Inputs</ion-card-title></ion-card-header>
            <ion-item>
              <ion-label position="floating" color="primary">Lean Mass (kg)</ion-label>
              <ion-input clearInput type="number" [(ngModel)]='this.inputs.weight' min="1" (ionInput)="clearAgeWeight()"></ion-input>
            </ion-item>
            <ion-item>
              <ion-row>
                <ion-col size="6">
                  <div>
                    <ion-note>Children Aged 1-20</ion-note>
                    <ion-label position="floating" color="primary">Age</ion-label>
                    <ion-input clearInput type="number" [(ngModel)]='this.inputs.age' min="0" max="20" (ionChange)="updateWeight($event)"></ion-input>
                  </div>
                </ion-col>
                <ion-col size="6">
                        <ion-list>
                          <ion-radio-group allowEmptySelection (ionChange)="updateWeight($event)">
                            <ion-list-header>
                              <ion-label>Gender</ion-label>
                            </ion-list-header>
                            <ion-item>
                              <ion-label><ion-icon name="male"></ion-icon></ion-label>
                              <ion-radio slot="start" value="male" color='primary'></ion-radio>
                            </ion-item>
                            <ion-item>
                              <ion-label><ion-icon name="female"></ion-icon></ion-label>
                              <ion-radio slot="start" value="female" color='danger'></ion-radio>
                            </ion-item>
                          </ion-radio-group>
                        </ion-list>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <app-drug-display [drugList]="this.drugList" [inputs]="this.inputs"></app-drug-display>

  </ion-grid>
</ion-content>
